* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  // sorry for accessibility
  outline: none;
  text-decoration: none;
}

body, html, #app {
  height: 100vh;
}

img {
  max-width: 100%;
}


input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
